#home {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
}

.profile {
    position: absolute;
    bottom:0;
    right:100px;
    width: 29%;
    filter: drop-shadow(0px 0px 20px var(--light));
    z-index: -21;
}

.heading {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: var(--light);
}

.sub-heading {
    font-size: 20px;
    display: inline;
    margin-bottom: 20px;
    color: white;
}

.hexagon {
    height: 50px;
    width: 50px;
    background-color: var(--light);
    clip-path: polygon(50% 0, 94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 26%);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(11, 35, 51);
    transition: 0.2s;
}

.hexagon:hover {
    transform: translate(-1px, -1px);
}

.cssbuttons-io {
    width:16em;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, var(--light), var(--mid));
    color: ghostwhite;
    overflow: hidden;
    transition: all 0.05s;
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.97);
}


.social-media {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#home p{
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .info{
        padding-top: 0px;
        width:100%;
    }
    .cssbuttons-io{
        width:100%;
    }
    #home{
        padding-top:80%;
    }
}