#projects {
    height: fit-content;
}

.projects-container {
    display: flex;
    justify-content: center;
    /* -webkit-box-pack: center;
    -webkit-box-align: center; */
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    /* padding:60px 0px; */
    width:100%;
}

.project:hover {
    flex: 5;
}

.project {
    width: 330px;
    height: 490px;
    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: scroll;
    transition: all 0.5s ease-in-out 0s;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 2;
    margin-right: -5px;
    position: relative;
}

.project-image {
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
}
.team-icon{
    color: white;
    font-size: 30px;
    position:absolute;
  bottom: 15px;
}
.tech-stack-container {
    width: 15em;
    height:50px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
    -webkit-box-align: center;
    align-items: flex-start;
}

.tech-stack {
    font-size: 12px;
    font-weight: 500;
    color: rgb(245, 245, 245);
    padding: 2px 8px;
    border-radius: 10px;
    border: 1px solid rgba(31, 81, 255, 0.6);
    background: rgba(31, 81, 255, 0.6);
    height:21px;
    line-height: 16px;
}

.project-heading {
    font-size: 20px;
    font-weight: 600;
    color: rgb(245, 245, 245);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 2px;
}

.project-date {
    font-size: 12px;
    font-weight: 400;
    margin-left: 2px;
    color: rgba(245, 245, 245, 0.6);
}

.project-detail {
    font-weight: 400;
    color: rgba(245, 245, 245, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;  */
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 10px 0px;
    width: 15em;
}

.hyperlink{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .projects-container{
        width:100%;
        gap:40px;
        flex-wrap: wrap;
    }
    .project{
        width:100%;
        overflow:visible;
    }
}