



.center {
    padding-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

#skills .hexagon {
    width: 8rem;
    height: 8rem;
    font-size: 20px;
    /* background-color: var(--dark);
    color:var(--light); */
    font-weight: 500;
}

.hex-layer-6 {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    margin: -1rem 0px;
    justify-content: center;
    align-content: center;
}


.hex-layer-5 {
    display: grid;
    justify-content: center;
    margin: -1rem 0px;
    align-content: center;
    grid-template-columns: repeat(5, 0fr);
}

.hex-layer-4 {
    display: grid;
    margin: -1rem 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 0fr);
}

.hex-layer-3 {
    display: grid;
    margin: -1rem 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 0fr);
}

.hex-layer-2 {
    display: grid;
    margin: -1rem 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 0fr);
}


.hex-layer-1 {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    margin: -1rem 0px;
    justify-content: center;
    align-content: center;
}

.skills-conatiner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}


@media only screen and (max-width: 700px) {
    .skills-conatiner{
        flex-direction: column;
        gap:50px;
    }

    .skills-conatiner .center {
        margin-bottom: 30px;
    }

    #skills .hexagon{
        width:5.9rem;
        height:5.9rem;
        font-size: 17px;
    }
}