.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 1.3vw;
    font-weight: 600;
    color: white;
}  
.navlinks{
    display: flex;
    gap:3vw;
}
.navlink{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.navlink:hover{
    color:rgb(0, 190, 156);
}